body{
    font-family: 'Bona Nova', serif;
    margin: 0;
}

.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;

}
#name1{
    color:  #0040ff;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-area{
    width: 50%;
    padding-left: 5%;
}
.half-area img{
    width: 60%;
    padding-left: 20%;
    padding-top: 3%;
}
.half-area2{
    width: 50%;
    padding-left: 5%;
}
.half-area2 img{
    width: 60%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(rgba(202, 228, 235, 0.692),rgb(106, 137, 240) );
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 5px;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
