body{
    font-family: 'Bona Nova', serif;
    margin: 0;
}

.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;

}
#name1{
    color:  #0040ff;
}
.top-banner{
    display: flex;
    margin-bottom: 150px;
}
.dream-big{
    display: flex;
    margin-bottom: 150px;
}
.half-area{
    width: 50%;
    padding-left: 5%;
}
.half-area img{
    width: 60%;
    padding-left: 20%;
    padding-top: 3%;
}
.half-area2{
    width: 50%;
    padding-left: 5%;
}
.half-area2 img{
    width: 60%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(rgba(202, 228, 235, 0.692),rgb(106, 137, 240) );
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border: 2% solid white;
    border-radius: 5%;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area #skill{
    display: flex;
}
.half-area3{
        width: 30%;
        margin-left: 13%;
        margin-bottom: 5%;
        padding-left: 10px;
        padding-right: 20px;
        box-shadow: 10px 10px 40px grey;
        border-radius: 10px;
        border-left: 5px solid;
        border-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        border-image-slice: 9;
       
}
.half-area4{
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(#e66465, #9198e5);
    border-image-slice: 1;
}
h2{
    font-size: 40px;
}
#experience{
    padding-left: 3%;
}
footer p{
    text-align: center;
    
}

